#position
    .box
        position: relative
        .minibox
            margin: 10px
            width: 150px
            height: 150px
            color: #ffff
            background-color: #3c3cf7
            h1
                margin: 10px
        .box3
            position: absolute
            top: 310px
            left: 200px

            
             
